<fieldset class="design">
  <legend class="form-legend">
    <span class="form-keyboard"><i class="fa-solid fa-object-ungroup"></i></span>

    <span class="form-title--design">diseña </span>
    <div class="js-event">
      <span class="js-design-down hidden form-arrow"><i class="fa-solid fa-chevron-down"></i></span>
      <span class="js-design-up form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
  </legend>
  <div class="palette-container  js-design">
    <div class="colorpalete">
      <h2 class="colors">colores</h2>

      <input type="radio" checked name="palete" class="colors1 js-paletteOne" value="palette-1"
        id="paymentmethod1" />
      <section class="palete ">

      <input type="radio" checked name="palete" class="colors1 js-paletteOne" value="palette-1" id="paymentmethod1" />
      <section class="palete">

        <div class="colors1__green"></div>
        <div class="colors1__blueD"></div>
        <div class="colors1__blueL"></div>
      </section>
    </div>

    <div class="colorpalete">
      <input type="radio" name="palete" class="colors2 js-paletteTwo" value="palette-2" id="paymentmethod2" />
      <section class="palete">
        <div class="colors2__blood"></div>
        <div class="colors2__rusty"></div>
        <div class="colors2__tomato"></div>
      </section>
    </div>

    <div class="colorpalete">
      <input type="radio" name="palete" class="colosr3 js-paletteThree" value="palette-3" id="paymentmethod3" />
      <section class="palete">
        <div class="colors3__slate"></div>
        <div class="colors3__orange"></div>
        <div class="colors3__greyBlue"></div>
      </section>
    </div>
  </div>

  <div class="line"></div>

</fieldset>

