<form action="https://formspree.io/f/meqdlvpw" method="POST">
    <fieldset class="form">

        <legend class="form-legend">

            <span class="form-keyboard"><i class="fa-solid fa-object-ungroup"></i></span>

            <span class="form-title">diseña </span>
            <span class="form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
            <!-- <span class="js-down form-down"> <i class="fa-solid fa-chevron-down"></i> </span> -->

        </legend>
        <h3 class="colors">colores</h3>
        <div>
            <label for="paymentmethod1"> </label>
            <input class="colors1" id="paymentmethod1" type="radio" />
            <div class="colors1__green"></div>
            <div class="colors1__blueD"></div>
            <div class="colors1__blueL"></div>
            </input>


        </div>
        <div>
            <label for="paymentmethod2">
                <input class="colors2" id="paymentmethod2" type="radio" />
                <div> </div>
                <div></div>
                <div></div>

            </label>
        </div>
        <div>
            <label for="paymentmethod3">
                <input class="colosr3" id="paymentmethod3" type="radio" />
                <div> </div>
                <div></div>
                <div></div>

            </label>

        </div>
</form>