<form class="design" action="https://formspree.io/f/meqdlvpw" method="POST">
    <fieldset>

        <legend class="form-legend">

            <span class="form-keyboard"><i class="fa-solid fa-object-ungroup"></i></span>

            <span class="form-title">diseña </span>
            <span class="form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
            <!-- <span class="js-down form-down"> <i class="fa-solid fa-chevron-down"></i> </span> -->

        </legend>
        <h2 class="colors">colores</h2>
        <div class="colorpalete">
            <label for="paymentmethod1"> </label>
            <input class="colors1" id="paymentmethod1" type="radio" />
            <section class="palete">
                <div class="colors1__green"></div>
                <div class="colors1__blueD"></div>
                <div class="colors1__blueL"></div>
            </section>
            </input>
        </div>

        <div class="colorpalete"> <label for="paymentmethod2"></label>
            <input class="colors2" id="paymentmethod2" type="radio" />
            <section class="palete">
                <div class="colors2__blood"> </div>
                <div class="colors2__rusty"></div>
                <div class="colors2__tomato"></div>
            </section>
            </input>
        </div>

        <div class="colorpalete">
            <label for="paymentmethod3"> </label>
            <input class="colosr3" id="paymentmethod3" type="radio" />
            <section class="palete">
                <div class="colors3__slate"> </div>
                <div class="colors3__orange"></div>
                <div class="colors3__greyBlue"></div>
                </input>
            </section>
        </div>
        <hr class="form-line">
    </fieldset>
</form>