<fieldset class="form">
  <legend class="form-legend">
    <span class="form-keyboard"><i class="fa-regular fa-keyboard"></i></span>
    <span class="form-title">rellena </span>
    <div class="js-eventFill">
      <span class="form-arrow js-fill-down"><i class="fa-solid fa-chevron-down"></i></span>
      <span class="form-arrow hidden js-fill-up"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
  </legend>
  <div class="form-container hidden js-fill">
    <label class="form-label" for="completeName">Nombre completo</label>
    <input class="form-input js-input-name" type="text" placeholder="Ej: Maricarmen" id="completeName"
      name="completeName" required />

    <label class="form-label" for="position">Puesto</label>
    <input class="form-input js-input-job" type="text" placeholder="Ej: Front-end unicorn" id="position" name="position"
      required />

    <!-- REPASAR -->
    <label class="form-label" for>Imagen de perfil</label>
    <!-- REPASAR -->

    <div class="form-add-image">
      <label class="form-button" for="addImage">Añadir imagen</label>

      <input class="js__profile-upload-btn" type="file" id="addImage" name="addImage" accept="image/*" hidden
        required />
      <div class="form-checkbox js__profile-preview"></div>

    </div>

    <label class="form-label" for="email">Email</label>
    <input class="form-input js-input-email" type="email" placeholder="Ej: maricarmen@gmail.com" id="email" name="email"
      href="" />

    <label class="form-label" for="phone">Teléfono</label>
    <input class="form-input js-input-phone" type="tel" placeholder="Ej:66687879" id="phone" name="phone"
      pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" />

    <label class="form-label" for="linkedin">LinkedIn</label>
    <input class="form-input js-input-linkedin" type="text" placeholder="Ej: https://www.linkedin.com/in/mari-carmen/"
      id="linkedin" name="linkedin" />

    <label class="form-label" for="github">Github</label>
    <input class="form-input js-input-github" type="text" placeholder="Ej: maricarmen" id="github" name="github" />
  </div>
  <div class="line"></div>
</fieldset>