<fieldset class="form">
  <legend class="form-legend">
    <span class="form-keyboard"><i class="fa-regular fa-keyboard"></i></span>
    <span class="form-title">rellena </span>
    <span class="form-arrow js-fill-down"><i class="fa-solid fa-chevron-down"></i></span>
    <span class="form-arrow hidden js-fill-up"><i class="fa-solid fa-chevron-up"></i></span>
  </legend>
  <div class="form-container hidden js-fill">
    <label class="form-label" for="completeName">Nombre completo</label>
    <input class="form-input" type="text" placeholder="Ej: Maricarmen" id="completeName" name="completeName" />

    <label class="form-label" for="position">Puesto</label>
    <input class="form-input" type="text" placeholder="Ej: Front-end unicorn" id="position" name="position" />

    <label class="form-label" for="addImage">Imagen de perfil</label>
    <div class="form-add-image">
      <button class="form-button">Añadir imagen</button>
      <div class="form-checkbox"></div>
    </div>

    <label class="form-label" for="email">Email</label>
    <input class="form-input" type="email" placeholder="Ej: maricarmen@gmail.com" id="email" name="email" />

    <label class="form-label" for="phone">Teléfono</label>
    <input class="form-input" type="tel" placeholder="Ej:66687879" id="phone" name="phone" />

    <label class="form-label" for="linkedin">LinkedIn</label>
    <input class="form-input" type="text" placeholder="Ej: url/linkedin" id="linkedin" name="linkedin" />

    <label class="form-label" for="github">Github</label>
    <input class="form-input" type="text" placeholder="Ej: url/github" id="github" name="github" />
  </div>
  <div class="line"></div>
</fieldset>
