<section class="mainCreate__card card js-preview">

  <button class="card__button" title="Reset" name="Reset" type="button"><i class="far fa-trash-alt"></i> Reset</button>
  <article class="card__article colorsPalette-1">
    <div class="card__article--data preview-header">
      <h2 class="name js-preview-name">Nombre Apellidos</h2>
      <p class="text js-preview-job">Front-end developer</p>
    </div>
    <div class="card__article--photo js__profile-image"></div>
    <nav class="card__article--links">
      <a href="" class="preview-icon js-preview-phone"><i class="fa-solid fa-mobile-screen-button icon"></i></a>
      <a href="" class="preview-icon js-preview-email"><i class="fa-regular fa-envelope icon"></i></a>
      <a href="" class="preview-icon js-preview-linkedin"><i class="fa-brands fa-linkedin-in icon"></i></a>
      <a href="" class="preview-icon js-preview-github"><i class="fa-brands fa-github-alt icon"></i></a>
    </nav>
  </article>

</section>

<!-- Elimino clases color-palettes para que se aplique la función. puestas aplicaban todas a la vez  -->
