<fieldset class="form">
  <legend class="form-legend">
    <span class="form-nodes"><i class="fa-sharp fa-solid fa-share-nodes"></i></span>
    <span class="form-title--share">Comparte </span>
    <div class="js-event">
      <span class="js-share-down form-arrow"><i class="fa-solid fa-chevron-down"></i></span>
      <span class="js-share-up hidden form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
  </legend>
  <div class="share-div hidden js-share">
    <button class="create-btn js-create-button"><i class="fa-solid fa-address-card"></i>Crear tarjeta</button>
  </div>
  <div class="line"></div>
  <div class="card-created-success js-created-success hidden">
    <div class="card-created js-card-created">
      <h3 class="card-created-title js-created-title">La tarjeta ha sido creada:</h3>
      <p class="card-created-url js-link-share">https://awesome-profile-card.com?id=A456DF0001</p>
    </div>

    <div class="share-twitter">
      <a class="share-twitter-tweet twitter-share-button" href="https://twitter.com/intent/tweet" target="_blank">
        <i class="fa-brands fa-twitter twitter-share-button-icon"></i>
        Compartir en twitter
      </a>
    </div>
    <div class="line"></div>
  </div>
</fieldset>