<fieldset class="form">
  <legend class="form-legend">
    <span class="form-nodes"><i class="fa-sharp fa-solid fa-share-nodes"></i></span>
    <span class="form-title--share">Comparte </span>
    <span class="js-share-down form-arrow"><i class="fa-solid fa-chevron-down"></i></span>
    <span class="js-share-up hidden form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
  </legend>
  <div class="share-div js-hidden-share">
    <button class="create-btn"><i class="fa-solid fa-address-card"></i>Crear tarjeta</button>
  </div>
  <div class="line"></div>

  <div class="js-card-created">
    <h3 class="js-created-title">La tarjeta ha sido creada:</h3>
    <p class="js-link-share">https://awesome-profile-card.com?id=A456DF0001</p>
    <a class="js-btn-share"><i class="fa-brands fa-twitter"></i>Compartir en twitter</a>
    <div class="line"></div>
  </div>
</fieldset>
