<fieldset class="share">
    <legend class="share-legend">
        <span class="share-nodes"><i class="fa-sharp fa-solid fa-share-nodes"></i></span>
        <span class="share-title">Comparte </span>
        <span class="js-down form-arrow "><i class="fa-solid fa-chevron-down"></i></span>
        <span class="js-up hidden form-arrow"><i class="fa-solid fa-chevron-up"></i></span>
    </legend>
    <div class="share-div" >
        <button class="create-btn"><i class="fa-solid fa-address-card"></i>Crear tarjeta</button>
    </div>
    <div class="line"></div>
</fieldset>