<!--Inspiration https://dribbble.com/shots/4155133-Snitch-Animation -->
<!--and https://dribbble.com/shots/2493071-Wizarding-World-Icons -->
<!-- <input type="checkbox" name="checkbox" id="animate" checked hidden="hidden" />
<label for="animate">
  <div class="snitch js-snitch">
    <div class="obj">
      <div class="body">
        <div class="flourish"></div>
        <div class="flourish"></div>
        <div class="flourish"></div>
        <div class="flourish">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="flourish">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="l joint"></div>
      <div class="l wing">
        <div class="feather"></div>
        <div class="feather"></div>
        <div class="feather"></div>
      </div>
      <div class="r joint"></div>
      <div class="r wing">
        <div class="feather"></div>
        <div class="feather"></div>
        <div class="feather"></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
</label> -->
