.hidden {
  display: none;
}
.fa-solid {
  cursor: pointer;
}
.main-background {
  background-image: linear-gradient(to bottom, $white-four, $white-two 9%);
}

//Esto es para la transición que estamos buscando la solución
.palette-container {
  padding-top: rem(18);
  padding-right: rem(20);
}

.transition {
  overflow: hidden;
  transition: 1s ease height;
}