// // fonts
$titleFont: 'Merriweather', serif;
$cardFont: 'Montserrat', sans-serif;
$mainFont: 'Open Sans', sans-serif;

// // colors

$light-khaki: #F9F4DC;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #E95626;
$dried-blood: #420101;
$rusty-red: #BD1010;
$faded-orange: #EAB052;
$light-grey-blue: #A0C0CF;
$azure: #00A0F5;
$white: #D5D5D5;
$white-two: #D8D8D8;
$black: #000;
$gunmetal: #54585A;
$brownish-grey: #6B6B6B;
$slate: #3E5B65;
$dark-green-blue: #114E4E;
$white-two: #fff;
$white-four: #F5F5F5;
$hospital-green: #A2DEAF;
$dirty-blue: #438792;
$silver: #BFCDD0;
$pale-grey: #DDE9ED;
$dull-orange: #E17334;

// // sizes rem 

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}