.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  height: 0;
}

.form {
  border-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-legend {
    color: #404142;
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: rem(10);
    padding-bottom: rem(10);
  }
  &-label {
    color: $dark-green-blue;
    font-size: rem(14);
    text-align: left;
    width: rem(281);
    line-height: 1.43;
    padding-bottom: rem(7);
    padding-top: rem(20);
  }
  &-keyboard {
    color: $dull-orange;
    width: rem(21);
    height: rem(18);
  }
  &-title {
    margin-left: rem(10);
    margin-right: rem(155);

    &--share {
      margin-left: rem(10);
      margin-right: rem(135);
    }

    &--design {
      margin-left: rem(10);
      margin-right: rem(170);
    }
  }
  &-input {
    width: rem(281);
    height: rem(30);
    border: solid 1px $hospital-green;
    padding: rem(3) 0 rem(7) rem(9);
    font-size: rem(14);
  }
  &-button {
    width: rem(140);
    height: rem(30);
    background-color: $reset-bkg;
    color: $white-two;
    border: none;
    border-radius: rem(3);
    font-size: rem(14);
    padding: rem(5) rem(22) rem(7);
    cursor: pointer;

    &:hover {
      color: $border-logo;
      opacity: 0.95;
    }
  }
  &-add-image {
    display: flex;
    gap: rem(42);
    width: rem(281);
  }
  &-checkbox {
    width: rem(30);
    height: rem(30);
    border: solid 1px $hospital-green;
  }
  &-line {
    margin-left: rem(20);
    width: rem(280);
    height: rem(1);
    background-color: $silver;
    margin-top: rem(0);
    @media (min-width: 768px) {
      margin-left: rem(40);
      width: rem(329);
    }
  }

  &-nodes {
    color: $dull-orange;
    width: rem(21);
    height: rem(18);
  }
}
