.footer{
  border-top: solid rem(1) $brownish-grey ; 
  display:flex;
  flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding-top: rem(18);
    gap: rem(12);
&-copy{
    color: $brownish-grey;
    font-size: 14px;


}


&-img{
    width: rem(103);
    height: rem(40);
   
  }
}


