.header {
  background-color: $white-two;
  background-color: $header-bkg;
  &-image {
    width: 6rem;
    height: 6rem;
    margin-left: 2.5rem;
    margin-top: 0.6rem;
    border-radius: 58%;
    border: 2px solid $border-logo;

    @media (min-width: 1084px) {
      width: 8.5rem;
      height: 8.5rem;
    }
  }
  @media (min-width: 1200px) {
    max-width: rem(1500);
    margin: auto;
  }
}
