.header {
  background-color: $white-two;
  height: rem(111);
  &-image {
    width: rem(201);
    height: rem(50);
    margin-left: rem(40);
    margin-top: rem(31);
  }
  @media (min-width: 1200px) {
    max-width: rem(1500);
    margin: auto;
  }
}
