.colorsPalette-1 {
  .name {
    color: $dark-green-blue;
  }

  .preview-header {
    border-color: $dirty-blue;
  }
  .icon {
    border: solid 2px $hospital-green;
    color: $dark-green-blue;
  }
}
.colorsPalette-2 {
  .name {
    color: $dried-blood;
  }

  .preview-header {
    border-color: $rusty-red;
  }
  .icon {
    border: solid 2px $tomato;
    color: $dried-blood;
  }
}
.colorsPalette-3 {
  .name {
    color: $slate;
  }

  .preview-header {
    border-color: $faded-orange;
  }
  .icon {
    border: solid 2px $light-grey-blue;
    color: $slate;
  }
}
