.section-form {
  padding-top: rem(27);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  margin-bottom: rem(30);
 
}

 @media (min-width: 768px) {
    .main-container {
      background-image: linear-gradient(to bottom, $white-four, $white-two 9%);
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      .section-card {
        grid-row: 2; 
      }

      .section-form {
        grid-row: 1; 
      }
  }
}