.share-div {
  margin-top: rem(30);
  display: flex;
  justify-content: center;
  height: 0;
}
.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: rem(199);
  height: rem(50);
  background-color: $reset-bkg;
  border-radius: rem(12);
  border: 1px solid $border-logo;
  color: $white-two;
  text-transform: uppercase;
  font-size: rem(18);
  font-family: $mainFont;
  margin-bottom: rem(30);

  &-disabled {
    background-color: $white;
  }

  &:hover {
    color: $border-logo;
    opacity: 0.95;
  }
}
.line {
  width: rem(280);
  height: rem(1);
  background-color: $silver;
}

.card-created-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-created {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-created-title {
  margin-top: rem(20);
  font-family: $mainFont;
  font-weight: 600;
  font-size: rem(18);
  height: rem(24);
  color: $gunmetal;
}

.card-created-url {
  margin: 5px 13px 0 0;
  text-decoration: none;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 600;
  color: $dull-orange;
  text-align: center;
  width: 250px;
}

.share-twitter {
  margin: 10px 0 30px 0;
  width: rem(181);
  height: rem(30);
  background-color: #00a0f5;
  border-radius: rem(3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share-twitter-tweet {
  color: white;
  text-decoration: none;
  font-family: $mainFont;
  font-size: rem(14);
}

.share-twitter-icon {
  width: rem(18);
}
