// .share{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   border-style: none;
//   margin-bottom: rem(20);
//   &-legend {
//     color: #404142;
//     text-transform: uppercase;
//     font-size: rem(18);
//     font-weight: 600;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//   }
//   &-title{
//     margin-left: rem(10);
//     margin-right: rem(155);

//   }
//   &-nodes {
//     color: $dull-orange;
//     width: rem(21);
//     height: rem(18);
//   }

// }
.share-div {
  margin-top: rem(30);
  display: flex;
  justify-content: center;
}
.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: rem(199);
  height: rem(50);
  background-color: $dull-orange;
  border-radius: rem(12);
  border: rgba(0, 0, 0, 0.32);
  color: $white-two;
  text-transform: uppercase;
  font-size: rem(18);
  font-family: $mainFont;
  margin-bottom: rem(30);
}
.line {
  width: rem(280);
  height: rem(1);
  background-color: $silver;
}

.card-created {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-created-title {
  margin-top: rem(20);
  font-family: $mainFont;
  font-weight: 600;
  font-size: rem(18);
  height: rem(24);
  color: $gunmetal;
}

.card-created-url {
  margin: 5px 13px 0 15px;
  text-decoration: none;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 600;
  color: $dull-orange;
}

.share-twitter {
  margin: 10px 0 30px 0;
  width: rem(181);
  height: rem(30);
  background-color: #00a0f5;
  border-radius: rem(3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-twitter-tweet {
  color: white;
  text-decoration: none;
  font-family: $mainFont;
  font-size: rem(14);
}

.share-twitter-icon {
  width: rem(18);
}
