@import 'core/variables';
@import 'pages/index';
@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/form';
@import 'layout/footer';
@import 'layout/design';
@import 'layout/palette';
@import 'layout/fill';
@import 'layout/share';
@import 'layout/card';
@import 'layout/snitch';
@import 'core/common';
